table {
	text-align: center;	
}

tr{
	border-color: red;
}

body {
	background: teal;
}

#out {
	width: 100%;
	text-align: center;
	boder: 1px solid black;
	padding: 20px;
	margin: 15px;
}
ASDASD ASD 
#in {
	padding-left:20%;
	display: inline-block;
	width: 50%;
	boder:1px solid red;
}